html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 1rem;
    position: sticky;
}

@media screen and (max-width: 100%) {
    .header__navbar {
        float: none;
        display: block;
        text-align: left;
    }
}

.header__navbar a {
    float: left;
    text-align: center;
    font-size: 15px;
    padding-right: 5rem;
}

.dish__navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
}

.navbar__menu {
    list-style: none;
    text-align: center;
}

.navbar__item {
    display: inline;
    padding: 0 20px;
    height: 80px;
}

.navbar__links {
    color: #000;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

:root {
    --A1Name: 香辣土豆粉;
    --A2Name: "排骨土豆粉";
    --A3Name: "三鲜土豆粉";
    --A4Name: "牛腩土豆粉";
    --A5Name: "海鲜土豆粉";
    --A6Name: "鸭丝土豆粉";
    --A7Name: "肥肠土豆粉";
    --A8Name: "羊杂土豆粉";
    --A9Name: "小炖肉土豆粉";
    --A10Name: "鸡丝土豆粉";
    --A11Name: "鸡丝土豆粉";
    --A12Name: "香辣鸡块土豆粉";
    --B1Name: "羊肉面";
    --B2Name: "红烧排骨面";
    --B3Name: "红烧牛肉面";
    --B4Name: "海鲜面";
    --B5Name: "肥肠面";
    --B6Name: "羊杂面";
    --B7Name: "小炖肉面";
    --B8Name: "炸酱面";
    --B9Name: "肉燥汤面";
    --B10Name: "鸡丝汤面";
    --B11Name: "香辣鸡块汤面";
    --B12Name: "三鲜汤面";
    --B13Name: "香辣汤面";
    --B14Name: "鸭丝汤面";
    --C1Name: "羊肉泡馍";
    --C2Name: "水盆羊肉配饼";
    --C3Name: "腊汁肉夹馍";
    --C4Name: "麻酱鸡丝凉面";
    --C5Name: "麻酱凉面";
    --C6Name: "川味招牌冷面";
    --C7Name: "羊杂汤配饼";
    --C8Name: "白吉馍";
    --C9Name: "蛋夹馍";
    --C10Name: "椒盐油酥烧饼";
    --C11Name: "芝麻糖油酥烧饼";
    --D1Name: "可乐";
    --D2Name: "雪碧";
    --D3Name: "绿茶 Arizona";
    --D4Name: "Canada Dry";
    --D5Name: "Nestea";
    --D6Name: "加多宝";
    --D7Name: "绿茶";
    --D8Name: "茉莉蜜茶";
    --D9Name: "茉莉清茶";
    --E1Name: "拌三丝";
    --E3Name: "香辣豆泡（辣）";
    --E4Name: "香辣鸡腿（辣）（2个）";
    --E6Name: "酱猪骨";
    --E8Name: "洋葱拌木耳";
    --E10Name: "香辣珍心（辣）";
    --F1Name: "招牌蛋白养生渔粉";
    --F2Name: "排骨养生渔粉";
    --F3Name: "鸭丝养生渔粉";
    --F4Name: "牛肉养生渔粉";
    --F5Name: "肥肠养生渔粉";
    --F6Name: "海鲜养生渔粉";
    --F7Name: "小炖肉养生渔粉";
    --F8Name: "羊肉养生渔粉";
    --F9Name: "羊杂养生渔粉";
    --F10Name: "三鲜养生渔粉";
    --F11Name: "香辣养生渔粉";
    --F12Name: "鸡丝养生渔粉";
    --F13Name: "香辣鸡块养生渔粉";
    --F14Name: "肉燥养生渔粉";
    --G1Name: "牛肉";
    --G2Name: "羊肉";
    --G3Name: "鸭丝";
    --G4Name: "排骨";
    --G5Name: "肥肠";
    --G6Name: "大虾（4pcs）";
    --G7Name: "小炖肉";
    --G8Name: "鸡丝";
    --G9Name: "鸡块";
    --G10Name: "牛丸";
    --G11Name: "鱼丸";
    --G12Name: "羊杂";
    --G13Name: "青口（3个）";
    --G14Name: "肉燥";
    --H1Name: "面";
    --H2Name: "米线";
    --H3Name: "土豆粉";
    --H4Name: "粉丝";
    --I1Name: "青菜";
    --I2Name: "海带";
    --I3Name: "豆干";
    --I4Name: "青瓜";
    --I5Name: "皇子菇";
    --I6Name: "豆芽";
    --I7Name: "木耳丝";
    --I8Name: "黄花菜";
    --J1Name: "加煎蛋";
    --J2Name: "加卤蛋";
    --K1Name: "清汤";
    --K2Name: "改浓骨汤"
}

.Eng {
    --A1Name: "Spicy Potato Noodle in Soup";
    --A2Name: "Pork Ribs Potato Noodle in Soup";
    --A3Name: "Three Delicacies Potato Noodle in Soup";
    --A4Name: "Beef Brisket Potato Noodle in Soup";
    --A5Name: "Seafood Potato Noodle in Soup";
    --A6Name: "Shredded Duck Potato Noodle in Soup";
    --A7Name: "Pork Intestine Potato Noodle in Soup";
    --A8Name: "Lamb Belly Potato Noodle in Soup";
    --A9Name: "Sliced Lamb Potato Noodle in Soup";
    --A10Name: "Braised Pork Potato Noodle in Soup";
    --A11Name: "Sliced Chicken Potato Noodle in Soup";
    --A12Name: "Braised Chicken Potato Noodle in Soup";
    --B1Name: "Sliced Lamb Ramen in Soup";
    --B2Name: "Pork Ribs Ramen in Soup";
    --B3Name: "Beef Brisket Ramen in Soup";
    --B4Name: "Seafood Ramen in Soup";
    --B5Name: "Pork Intestine Ramen in Soup";
    --B6Name: "Lamb Belly Ramen in Soup";
    --B7Name: "Braised Pork Ramen in Soup";
    --B8Name: "Minced Pork Ramen";
    --B9Name: "Minced Pork Ramen in Soup";
    --B10Name: "Sliced Chicken Ramen in Soup";
    --B11Name: "Braised Chicken Ramen in Soup";
    --B12Name: "Three Delicacies Ramen in Soup";
    --B13Name: "Spicy Ramen in Soup";
    --B14Name: "Shredded Duck Ramen in Soup";
    --C1Name: "Pita Bread Soaked in Lamb Soup";
    --C2Name: "Basin Lamb with Mutton";
    --C3Name: "Chinese Hamburger";
    --C4Name: "Chicken Cold Noodle with Sesame";
    --C5Name: "Cold Noodle with Sesame";
    --C6Name: "Chef's Special Cold Noodle";
    --C7Name: "Lamb Belly Soup with Mutton";
    --C8Name: "Chinese Bun";
    --C9Name: "Egg with Chinese Bun";
    --C10Name: "Salted Pastry Biscuit";
    --C11Name: "Sesame Sweet Pastry Biscuit";
    --D1Name: "Coke";
    --D2Name: "Sprite";
    --D3Name: "Arizona";
    --D4Name: "Canada Dry";
    --D5Name: "Nestea";
    --D6Name: "Herbal Tea";
    --D7Name: "Green Tea";
    --D8Name: "Jasmine Tea";
    --D9Name: "Sweet Tea";
    --E1Name: "Mix Three Wire";
    --E3Name: "Tofu in Sichan Taste Sauce (Spicy)";
    --E4Name: "Chicken in Siwon Taste Sauce (Spicy)(2pcs)";
    --E6Name: "Stewed Pork Ribs";
    --E8Name: "Black Fungus & Onion";
    --E10Name: "Spicy Chicken Gizzards (Spicy)";
    --F1Name: "Fish Multi Grain Fish Rice Noodle in Soup";
    --F2Name: "Multi Grain Fish Rice Noodle with Pork Ribs in Special Soup";
    --F3Name: "Multi Grain Fish Rice Noodle with Shredded Duck in Special Soup";
    --F4Name: "Multi Grain Fish Rice Noodle with Beef in Special Soup";
    --F5Name: "Multi Grain Fish Rice Noodle with Pork Intestine in Special Soup";
    --F6Name: "Multi Grain Fish Rice Noodle with Seafood in Special Soup";
    --F7Name: "Multi Grain Fish Rice Noodle with Braised Pork in Special Soup";
    --F8Name: "Multi Grain Fish Rice Noodle with Sliced Lamb in Special Soup";
    --F9Name: "Multi Grain Fish Rice Noodle with Lamb Belly in Special Soup";
    --F10Name: "Multi Grain Fish Rice Noodle with Three Delicacies in Special Soup";
    --F11Name: "Multi Grain Fish Rice Noodle with Meat Balls in Special Soup";
    --F12Name: "Multi Grain Fish Rice Noodle with Sliced Chicken in Special Soup";
    --F13Name: "Multi Grain Fish Rice Noodle with Braised Chicken in Special Soup";
    --F14Name: "Multi Grain Fish Rice Noodle with Minced Pork in Special Soup";
    --G1Name: "Beef";
    --G2Name: "Sliced Lamb";
    --G3Name: "Shredded Duck";
    --G4Name: "Pork Ribs";
    --G5Name: "Pork Intestine";
    --G6Name: "Shrimp(4pcs)";
    --G7Name: "Braised Pork";
    --G8Name: "Sliced Chicken";
    --G9Name: "Chicken";
    --G10Name: "Beef Ball";
    --G11Name: "Fish Ball";
    --G12Name: "Lamb Belly";
    --G13Name: "Mussel(3pcs)";
    --G14Name: "Minced Pork";
    --H1Name: "Ramen";
    --H2Name: "Rice Noodle";
    --H3Name: "Potato Noodle";
    --H4Name: "Chinese Vermicelli";
    --I1Name: "Veg";
    --I2Name: "Kelp";
    --I3Name: "Dried Bean Curd";
    --I4Name: "Cucumber";
    --I5Name: "King Oyster Mushroom";
    --I6Name: "Bean Sprouts";
    --I7Name: "Black Fungus Silk";
    --I8Name: "Daylily";
    --J1Name: "Fried Egg";
    --J2Name: "Spiced Corned Egg";
    --K1Name: "Soup";
    --K2Name: "Change to Bone Soup";
}


.header__navbar {
    height: 40px;
    line-height: 40px;
    display: flex;
    background: grey;
}

.language {
    text-decoration: none;
    color: white;
}


.introduction {
    justify-content: center;
    text-align: center;
    margin-top: 30%;
}

.text {
    padding-top: 100px;
}

.button {
    display: block;
    background-color: rgb(200, 197, 197); /* Green */
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.login {
    margin-top: 10%;
    position: relative;
}   

.Dish{
    margin: 1rem;
}

.dish {
    display: flex;
    max-width: 100%;
    background-color: #f7f5e2;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    justify-content: baseline;
    flex-direction: row;
    margin-top: 1rem;
    font-size: 1rem;
}

.dishImg {
    width: 5rem;
    margin-left: 1rem;
    float: left;
}

.dishText {
    margin-left: 1rem;
    width: 100%;
    bottom: 0;
    display: flexbox;
}

.dishPrice {
    float: right;
    font-size: 0.8rem;
    margin-top: 2.3rem;
}

.allToppings {
    margin: 1rem;
    max-width: 100%;
}

.toppingsTitle {
    background-color: #dadad6;
    margin: 1rem;
}

.topping {
    margin: 1rem;
}

.toppingText {
    width: fit-content;
    float: left;
}

.toppingCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 85%;
}

.toppingLine {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid black;
    position: relative;
}

.viewCartBtn {
    background-color: #e5db81;
    width: 95%;
    height: 3.5rem;
    line-height: 3.5rem;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-top: .75rem;
    border-radius: 2rem;
    text-align: center;
    position: absolute;
}

.viewCartIcon {
    width: 95%;
    padding-right: 3rem;
    padding-top: 2.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

.viewCartPrice {
    width: 95%;
    height: 3.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-left: 5rem;
    padding-top: 2rem;
    position: absolute;
}

.addToCart {
    background-color: #e5db81;
    width: 95%;
    height: 3.5rem;
    bottom: 0;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-top: .75rem;
    border-radius: 3rem;
    text-align: center;
    position: relative;
}

.addToCartText {
    padding-top: 1.25rem;
    padding-left: 45%;
    position: absolute;
}

.addToCartPrice {
    padding-top: 1.25rem;
    padding-left: 85%;
    position: absolute;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 5rem;
}

.bottom {
    width: 100%;
    background-color: #FFFFFF;
    height: 5rem;
}

